<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cool Runnings" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <nav class="fixed top-0 left-0 w-full bg-white shadow px-8 py-4 flex items-center justify-between z-50">
      <div class="text-lg font-semibold text-gray-800">
        <%=link_to "Cool Runnings", root_path%>
      </div>

      <div class="flex items-center space-x-4">
        <% if authenticated? %>
          <div class="text-lg text-gray-800">
            Hello, <%= Current.user.name %> 👋
          </div>
          <%=button_to "Log out", session_path, method: :delete,
              class: "text-red-600 hover:text-red-800 font-medium" %>
        <% else %>
          <div class="text-lg text-gray-800">
            Welcome 👋
          </div>
          <%= link_to "Log in", new_session_path, 
              class: "text-blue-600 hover:text-blue-800 font-medium" %>
          <%= link_to "Sign up", new_user_path, 
              class: "text-green-600 hover:text-green-800 font-medium" %>
        <% end %>
      </div>
    </nav>
    <main class="pt-20 px-8">
      <%= yield %>
    </main>
  </body>
</html>
